name: Cypress Workflow
on:
  workflow_dispatch:

jobs:
  cypress:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Get yarn cache directory path
        id: yarn-cache-dir-path
        run: echo "::set-output name=dir::$(yarn cache dir)"
      - uses: actions/cache@v3
        id: yarn-cache
        with:
          path: ${{ steps.yarn-cache-dir-path.outputs.dir }}
          key: ${{ runner.os }}-yarn-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-yarn-
      - name: Run E2E tests
        uses: cypress-io/github-action@v2
        with:
          record: false
          browser: chrome
          build: yarn build
          start: yarn serve
      - name: Rename file
        run: mv cypress/results/mochawesome.html cypress/results/index.html
      # - name: Deploy Cypress test results
      #   - uses: FirebaseExtended/action-hosting-deploy@v0
      #   with:
      #     repoToken: '${{ secrets.GITHUB_TOKEN }}'
      #     firebaseServiceAccount: '${{ secrets.FIREBASE_SERVICE_ACCOUNT_CYPRESS_DASH }}'
      #     projectId: cypress-dash
